@font-face {
    font-family: 'Montserrat';
    src: url(./../../fonts/montserrat/montserrat.woff2) format('woff2'),
      url(./../../fonts/montserrat/montserrat.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'Montserrat' sans-serif;
}